.headerContainer {
    margin-top: 5px;
    position: relative;
}
.inboxText {
    font-size: 20px;
    font-weight: 700;
}
.rightIcons {
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 23px;
    
}
.leftText {
    display: inline-block;
}
.icon {
    display: inline-block;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}
.plus {
    background-image: url('./../../assets/images/plus.png') !important;
    background-repeat: no-repeat !important;
    background-size: 24px !important;
    background: white;
    height: 24px;
    width: 24px;
    display: inline-block;
}
.createText {
    display: inline-block;
    vertical-align: top;
    margin: 2px 0 0 10px;
    color: silver;
}
.creatorButtons {
    margin-top: 15px;
    cursor: pointer;
}

.creatorButtons:hover > .createText {
    color: #db4c3f;
}

/* Accordion */

.chapterBlock {
    margin-top: 20px;
    position: relative;
    margin-left: -20px;
    border-bottom: 1px solid #f0f0f0;
}
.chapterBlock:hover {
    border-color: rgba(0, 0, 0, .4);
}

.accordionIcon {
    position: absolute;
    top: 2px;
    width: 14px;
    height: 14px;
    background-size: 14px;
    background-image: url('./../../assets/images/accordion.png');
    transform: rotate(-90deg);
}
.addChapter {
    margin-left: 20px;
}
.hoverActionButton {
    margin-top: 20px;
    width: calc(100% - 30px);
    height: 24px;
    border: none;
    cursor: pointer;
    background: transparent;
    font-size: 16px;
    font-weight: 700;
    color: #dd4b39;
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: opacity .3s cubic-bezier(.4,0,.2,1);
    opacity: 0.4;
}
.hoverActionButton::before {
    content: "";
    display: block;
    height: 1px;
    flex: 1 1 auto;
    opacity: .5;
    margin-right: 10px;
    background-color: #dd4b39;
}
.hoverActionButton::after {
    content: "";
    display: block;
    height: 1px;
    flex: 1 1 auto;
    opacity: .5;
    margin-left: 10px;
    background-color: #dd4b39;
}
.hoverActionButton:hover {
    opacity: 1;
}
.button {
    font-size: 14px;
    display: inline-blocks;
    align-items: center;
    justify-content: center;
    grid-gap: 12px;
    gap: 12px;
    line-height: 18px;
    padding: 6px 10px;
    height: 32px;
    border: none;
    text-decoration: none;
    cursor: pointer;
}
.redBtn {

    color: white;
    background-color: #db4c3f;
}
.whiteBtn {
    margin: 10px;
    background-color: white;
    color: #000000;
    border: 1px solid rgb(80, 74, 74);
}
.chapterInput {
    margin-top: 15px;
    width: calc(100% - 30px);
    padding: 10px;
    font-size: 16px;
    border: #803932 1px solid;
    border-radius: 3px;
}
.chapterInput:focus {
    outline: none;
    border: #db4c3f 1px solid;
}

.threeDotsChapter {
    width: 24px;
    height: 24px;
    
    background-image: url(./../../assets/images/more.png);
    background-size: 24px;
}
.dropbtn {
    cursor: pointer;
  }
  
  .dropdown {
    position: absolute;
    top: 0;
    right: 30px;
    display: inline-block;
  }
  
  .dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: -20px;
  }
  
  .dropdownContent p {
    color: black;
    padding: 12px 16px;
    margin: 0;
    display: block;
    cursor: pointer;
  }
  
  .dropdownContent p:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdownContent {
    display: block;
  }
  







