.textArea {
    outline: none;
    border: none;
    width: 100%;
    resize: none;
}
.description {
    font-size: 13px;
}
.container {
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px 10px 0;
    cursor: text;
}
.container:hover {
    transition: 0.1s;
    border-color: rgba(0, 0, 0, .4);
}
.textAreaBlock {
    padding: 5px;
}
.button {
    font-size: 14px;
    display: inline-blocks;
    align-items: center;
    justify-content: center;
    grid-gap: 12px;
    gap: 12px;
    line-height: 18px;
    padding: 6px 10px;
    height: 32px;
    border: none;
    text-decoration: none;
    cursor: pointer;
}
.redBtn {

    color: white;
    background-color: #db4c3f;
}
.whiteBtn {
    margin: 10px;
    background-color: white;
    color: #000000;
    border: 1px solid rgb(80, 74, 74);
}
.plus {
    background-image: url('./../../assets/images/plus.png') !important;
    background-repeat: no-repeat !important;
    background-size: 24px !important;
    background: white;
    height: 24px;
    width: 24px;
    display: inline-block;
}
.createText {
    display: inline-block;
    vertical-align: top;
    margin: 2px 0 0 10px;
    color: silver;
}
.creatorButtons {
    margin-top: 15px;
    cursor: pointer;
}

.creatorButtons:hover > .createText {
    color: #db4c3f;
}


.createInputFooter {
    width: calc(100% - 20px);
    height: 24px;
    margin: 0 0px 10px 10px;
    cursor: pointer;
    position: relative;
}
  .icoPr1 {
      width: 24px;
      height: 24px;
      background-image: url('./../../assets/images/priority.svg');
      background-size: 24px;
  }
  .icoDrop {
    position: absolute;
    top: 0px;
    right: 10px;
    display: inline-block;
  }
  
  .dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 230px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: -20px;
  }
  
  .dropdownContent p {
    color: black;
    padding: 12px 16px;
    margin: 0;
    padding-left: 20px;
    display: block;
    cursor: pointer;
  }
  
  .dropdownContent p:hover {background-color: #f1f1f1}
  
  .icoDrop:hover .dropdownContent {
    display: block;
  }
  .icoBlock {
      position: relative;
      width: 18px;
      height: 18px;
      padding-right: 10px;
      float: left;
  }
  .priIco {
      position: absolute;
      width: 18px;
      height: 18px;
      background-size: 18px;
  }
  .redIco {
      background-image: url('./../../assets/images/report\ \(2\).png');
  }
  .Ico2 {
    background-image: url('./../../assets/images/report\ \(1\).png');
  }
  .Ico3 {
    background-image: url('./../../assets/images/report.png');
  }
  .Ico4 {
    background-image: url('./../../assets/images/report\ \(3\).png');
  }

  .activePriority {
      background-image: url('./../../assets/images/check-mark.png');
      height: 16px;
      width: 16px;
      background-size: 16px;
      position: absolute;
      right: 10px;
  }