.headerContainer {
    position: fixed;
    background-color: #db4c3f;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 44px;
    z-index: 1;
}
.flexWrap {
    width: 30%;
    display: flex;
    flex-wrap: nowrap;
    margin-left: 20px;
}
.flexWrap > div {
    margin-left: 20px;    
    text-align: center;
    line-height: 44px;
}
.leftIcons {
    height: 18px;
    margin-top: 13px;
}
.headerInput::placeholder {
    color: white;
}
.headerInput {
    width: 130px;
    border: none;
    height: 26px;
    border-radius: 4px;
    font-size: 16px;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    background-image: url('./../../assets/images/loupe2.png');
    background-size: 18px;
    background-repeat: no-repeat;
    padding: 0px 10px 0px 40px;
    background-position: 5% 50%;
    transition: width 0.4s ease-in-out;
}
  
.headerInput:focus {
    width: 100%;
    border: none;
    outline: none;
}
.headerInput:focus .resultBlock {
    display: block;
}
.rightElements {
    height: 44px;
    margin: -5px 20px 0px 0px;
    float: right;
}
.resultBlock {
    position: absolute;
    width: 268px;
    padding: 5px 5px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 0 8px rgb(0 0 0 / 5%), 0 10px 10px -5px rgb(0 0 0 / 5%), 0 20px 25px -5px rgb(0 0 0 / 10%);
}
.taskBlock {
    position: relative;
}
.taskText {
    margin: 0;
    padding: 0;
    width: calc(100% - 35px);
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 30px;
    text-align: left;
}
.taskIcon {
    width: 20px;
    height: 20px;
    position: absolute;
    background-image: url('./../../assets/images/dry-clean.png');
    background-size: 20px;
    top: 14px;
}
