.boss-container {
  display: inline-block;
  position: absolute;
  top: 55px;
  bottom: 80px;
  left: 400px;
  width: 800px;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}
.container {
  position: relative;
  padding-bottom: 100px;
}
